@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.button { 
    left: 11.17%;
    right: 88.29%;
    top: 7.42%;
    bottom: 90.92%;
}